<div role="main" class="list-article">
    <h2>Blog</h2>
    <div class="content">
        <a href="#">
            <h3>A Day of Communication at GitHub</h3>
            <time datetime="2010-04-13T00:19:00+02:00">March 14, 2014</time>
        </a>
        <a href="#">
            <h3>A Day of Communication at GitHub</h3>
            <time datetime="2010-04-13T00:19:00+02:00">March 14, 2014</time>
        </a>
        <a href="#">
            <h3>A Day of Communication at GitHub</h3>
            <time datetime="2010-04-13T00:19:00+02:00">March 14, 2014</time>
        </a>
        <a href="#">
            <h3>A Day of Communication at GitHub</h3>
            <time datetime="2010-04-13T00:19:00+02:00">March 14, 2014</time>
        </a>
        <a href="#">
            <h3>A Day of Communication at GitHub</h3>
            <time datetime="2010-04-13T00:19:00+02:00">March 14, 2014</time>
        </a>
        <a href="#">
            <h3>A Day of Communication at GitHub</h3>
            <time datetime="2010-04-13T00:19:00+02:00">March 14, 2014</time>
        </a>
        <a href="#">
            <h3>A Day of Communication at GitHub</h3>
            <time datetime="2010-04-13T00:19:00+02:00">March 14, 2014</time>
        </a>
    </div>
</div>
<div class="clear"></div>
