<footer>
    <iframe
      src="//platform.twitter.com/widgets/follow_button.html?screen_name=my_kiwi&lang=en"
      style="width: 191px; height: 20px;"
      allowtransparency="true"
      frameborder="0"
      scrolling="no">
    </iframe><br>
    <br>
    Subscribe to <a href="#">RSS</a> or <a href="https://twitter.com/my_kiwi">Twitter</a>.<br>
    &copy; {{ date()|date('Y') }} Romain GAUTIER.
</footer>
