<header id="header" role="banner" class="line">
    <nav id="navigation" role="navigation">
        <ul>
            <li class="inbl active"><a href="#">Blog</a></li>
            <li class="inbl"><a href="#">Projects</a></li>
            <li class="inbl"><a href="#">Bookmarks</a></li>
            <li class="inbl right"><a href="#">About me</a></li>
        </ul>
    </nav>
    <h1>
        <a href="#">
            Romain<small>.sh</small>
        </a>
    </h1>
    <ul class="network">
        <li class="twitter"><a href="https://twitter.com/my_kiwi"><span>Twitter</span></a></li>
        <li class="github"><a href="https://github.com/romqin"><span>GitHub</span></a></li>
        <li class="symfony"><a href="https://connect.sensiolabs.com/profile/mykiwi"><span>Symfony</span></a></li>
        <li class="linkedin"><a href="https://www.linkedin.com/in/gautierromain"><span>LinkedIn</span></a></li>
    </ul>
</header>
