<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie67 ie678" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]> <!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title>{% block title '' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/all.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    {% block header %}
        {% include '_header.html.twig' %}
    {% endblock %}
    {% block banner %}
        {% include '_banner.html.twig' %}
    {% endblock %}
    {% block content %}
        {% include '_content.html.twig' %}
    {% endblock %}
    {% include '_footer.html.twig' %}

    {% block js %}
        <script>
        {# Google Analytics #}
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-XXXXXXXX-X', 'XXXXXXXXXXX.TLD');
        ga('send', 'pageview');
        </script>
    {% endblock %}
</body>
</html>