{% extends 'base.html.twig' %}

{% block content %}
<div role="main" class="list-article">
    <h2>Blog</h2>
    <ul>
        <li>
            <time datetime="2010-04-13T00:19:00+02:00">16 Mar 2014</time>
            »
            <a href="/a">
                <h3>Open Source (Almost) Everything (ou pas)</h3>
            </a>
        </li>
        <li>
            <time datetime="2010-04-13T00:19:00+02:00">10 Mar 2014</time>
            »
            <a href="/b">
                <h3>Symfony2 Ultimate Book</h3>
            </a>
        </li>
        <li>
            <time datetime="2010-04-13T00:19:00+02:00">03 Mar 2014</time>
            »
            <a href="/">
                <h3>Docker for high speed</h3>
            </a>
        </li>
    </ul>
</div>
<div class="clear"></div>
{% endblock %}
